<div class="dialog-overlay" *ngIf="show" (click)="close()">
  <div class="dialog-container" (click)="$event.stopPropagation()" *ngIf="dialogData">
    <div class="dialog-header" [ngClass]="'dialog-' + (dialogData.type || 'info')">
      <div class="dialog-icon">
        <svg-icon [name]="getIconName()" [size]="24"></svg-icon>
      </div>
      <h3 class="dialog-title" *ngIf="dialogData.title">{{ dialogData.title }}</h3>
    </div>
    
    <div class="dialog-body">
      <p class="dialog-message" [innerHTML]="dialogData.message | nl2br"></p>
    </div>
    
    <div class="dialog-footer">
      <button 
        *ngIf="dialogData.type === 'confirm'"
        type="button"
        class="btn-dialog btn-cancel"
        (click)="onCancel()"
      >
        {{ dialogData.cancelText || 'Cancelar' }}
      </button>
      <button 
        type="button"
        class="btn-dialog btn-confirm"
        [ngClass]="'btn-' + (dialogData.type || 'info')"
        (click)="onConfirm()"
      >
        {{ dialogData.confirmText || 'Aceptar' }}
      </button>
    </div>
  </div>
</div>

